@media screen and (max-width: 1020px) {
    .modal {
        width: 1130px;
        height: 2690px;
        position: absolute;
        background: #00000070;
        top: 0;
        animation-name: fundo;
        animation-duration: 1s;
        animation-timing-function: ease-in-out;
    }

    .modal .escrita {
        height: 550px;
        top: 15%;

    }

    .modal .escrita p {
        margin: 0;

    }

    .modal .escritaLeonardo {
        height: 550px;
        top: 16%;

    }

    .modal .escritaLeonardo p {

        margin: 0;

    }


    .modal .escritaJuarez {

        height: 550px;
        top: 15%;


    }

    .modal .escritaJuarez p {
        margin: 0;

    }

    .modal .escritaGuilherme {
        height: 550px;
        top: 15%;
    }

    .modal .escritaGuilherme p {
        margin: 0;

    }


    .modal .escritaCaio {
        width: 500px;
        height: 550px;
        position: absolute;
        top: 15%;

    }

    .modal .escritaCaio p {
        margin: 0;

    }

}
