* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --background: #1f1f1f;
  --green: #2ee54c;
  --font-three: #8844ee;
  --button-primary: #683da7;
  --button-secondary: #413b99;
  --title: #686672;
}

body {
  background: var(--background);
  width: 100%;
}

#button-drop {
  display: none;
}

#check {
  display: none;
}

#close-drop {
  display: none;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 25px;
  height: 120px;
  background: linear-gradient(90.28deg, #1a1a1a -13.49%, #1d0f33 99.97%);
  box-shadow: 0 5px 5px #00000040;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
}

.header .menu ul li {
  display: inline;
}

.header .menu ul li a {
  text-decoration: none;
  color: #e3e3e3;
  margin: 0 25px;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  transition: all 0.8s ease-in-out;
}

.header .menu ul li a:hover {
  filter: opacity(50%);
}

.header .menu ul .button-menu {
  padding: 10px 0;
  border: 1px solid var(--green);
  border-radius: 10px;
}

.header .menu ul .button-menu a {
  color: var(--green);
}

.main .main-call {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 300px;
  color: #e3e3e3;
  width: 50%;
  text-align: center;
  margin: 45px auto;
  font-family: "Roboto Mono", monospace;
}

.main .main-call p {
  color: var(--button-secondary);
  font-size: 18px;
}

.main .main-call h1 {
  font-size: 36px;
  color: #e3e3e3;
}

.main-sobre {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.main-sobre img {
  width: 400px;
}

.main-sobre .texto-main-sobre {
  width: 500px;
  color: #e3e3e3;
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 20px;
}

.main-sobre .texto-main-sobre p {
  margin: 0 0 25px;
  font-family: "Roboto Mono", monospace;
  font-size: 22px;
}

.about {
  background: #333333;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 40px 0;
}

.about .info,
.about .dias,
.about .duracao {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 350px;
  height: 100px;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: bold;
  color: #e3e3e3;
}

.about .info img,
.about .dias img,
.about .duracao img {
  margin: 0 15px;
}

.palestra {
  width: 100%;
  margin: 50px auto 150px;
}

.palestra .palestrantes {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 0 auto;
}

h1 {
  font-family: "Roboto";
  color: var(--title);
}

.palestra .palestrantes .juarez,
.palestra .palestrantes .guilherme,
.palestra .palestrantes .leonardo,
.palestra .palestrantes .caio,
.palestra .palestrantes .alex {
  width: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--green);
  font-family: "Roboto Mono", monospace;
}

.sobre {
  margin: 150px auto;
  display: flex;
  flex-direction: column;
  width: 85vw;
}

.sobre h1 {
  font-size: 40px;
  width: 60%;
  margin: 50px 0;
  letter-spacing: 2px;
}

.sobre .evento,
.sobre .conhecimento,
.sobre .objetivo {
  display: flex;
  align-items: flex-start;
  font-size: 26px;
  font-family: "Roboto", sans-serif;
  color: #e3e3e3;
  font-weight: 100;
  /* justify-content: space-between;*/
  /* flex-wrap: wrap; */
}

.sobre .evento h2,
.sobre .conhecimento h2 {
  font-size: 36px;
  color: #e3e3e3;
  font-weight: 500;
  margin: 40px;
  width: 60%;
}

.sobre .evento p,
.sobre .conhecimento p {
  margin: 40px;
}

.sobre .evento img,
.sobre .conhecimento img,
.sobre .objetivo img {
  align-self: center;
  width: 90%;
  margin-bottom: 40px;
}

.sobre .objetivo h2 {
  margin-left: 120px;
}
.sobre .objetivo p {
  margin: 40px 120px;
}
hr {
  width: 80vw;
  margin: 0 auto;
  border: 1px solid var(--button-primary);
}

.sobre hr {
  width: 70px;
  border: 1px solid var(--button-primary);
  margin: 23px;
}

.footer {
  padding: 25px;
}

.footer .sociais img {
  margin: 5px;
}

/*INICIO DOS MODAL'S*/
.modal {
  width: 99vw;
  height: 200vh;
  position: absolute;
  top: 0;
}

.modal .escrita {
  width: 60%;
  height: 600px;
  position: fixed;
  top: 5%;
  left: 20%;
  background: #2f2e41;
  border-radius: 25px;
  text-align: center;
  color: #fff;
  font-family: "Roboto Mono", monospace;
  padding: 15px;
}

.modal .escrita p {
  color: #2ee54c;
  font-size: 12px;
  font-weight: 300;
}

.modal .escrita .sobre {
  color: #fff;
  font-size: 16px;
  width: 90%;
  margin: 0 auto;
}

.modal .escrita span {
  cursor: pointer;
  position: absolute;
  top: 95%;
  text-align: center;
  width: 100%;
  left: 0;
  background: #2ee54c;
  padding: 15px;
  border-radius: 0 0 25px 25px;
  color: #000;
  transition: all 0.8s ease-in-out;
}

.modal .escrita span:hover {
  background: #2ee00c;
}

.modal .escritaLeonardo span:hover {
  background: #2ee00c;
}

.modal .escritaJuarez span:hover {
  background: #2ee00c;
}

.modal .escritaCaio span:hover {
  background: #2ee00c;
}

.modal .escritaGuilherme span:hover {
  background: #2ee00c;
}

.modal .escritaLeonardo {
  width: 60%;
  height: 600px;
  position: fixed;
  top: 5%;
  left: 20%;
  background: #2f2e41;
  border-radius: 25px;
  text-align: center;
  color: #fff;
  font-family: "Roboto Mono", monospace;
  padding: 15px;
}

.modal .escritaLeonardo p {
  color: #2ee54c;
  font-size: 14px;
  font-weight: 300;
}

.modal .escritaLeonardo .sobre {
  color: #fff;
  font-size: 16px;
  width: 90%;
  margin: 0 auto;
}

.modal .escritaLeonardo span {
  cursor: pointer;
  position: absolute;
  top: 95%;
  text-align: center;
  width: 100%;
  left: 0;
  background: #2ee54c;
  padding: 15px;
  border-radius: 0 0 25px 25px;
  color: #000;
  transition: all 0.8s ease-in-out;
}

.modal .escritaJuarez {
  width: 60%;
  height: 600px;
  position: fixed;
  top: 5%;
  left: 20%;
  background: #2f2e41;
  border-radius: 25px;
  text-align: center;
  color: #fff;
  font-family: "Roboto Mono", monospace;
  padding: 15px;
}

.modal .escritaJuarez p {
  color: #2ee54c;
  font-size: 12px;
  font-weight: 300;
}

.modal .escritaJuarez .sobre {
  color: #fff;
  font-size: 16px;
  width: 90%;
  margin: 0 auto;
}

.modal .escritaJuarez span {
  cursor: pointer;
  position: absolute;
  top: 95%;
  text-align: center;
  width: 100%;
  left: 0;
  background: #2ee54c;
  padding: 15px;
  border-radius: 0 0 25px 25px;
  color: #000;
  transition: all 0.8s ease-in-out;
}

.modal .escritaGuilherme {
  width: 60%;
  height: 600px;
  position: fixed;
  top: 5%;
  left: 20%;
  background: #2f2e41;
  border-radius: 25px;
  text-align: center;
  color: #fff;
  font-family: "Roboto Mono", monospace;
  padding: 15px;
}

.modal .escritaGuilherme p {
  color: #2ee54c;
  font-size: 12px;
  font-weight: 300;
}

.modal .escritaGuilherme .sobre {
  color: #fff;
  font-size: 16px;
  width: 90%;
  margin: 0 auto;
}

.modal .escritaGuilherme span {
  cursor: pointer;
  position: absolute;
  top: 95%;
  text-align: center;
  width: 100%;
  left: 0;
  background: #2ee54c;
  padding: 15px;
  border-radius: 0 0 25px 25px;
  color: #000;
  transition: all 0.8s ease-in-out;
}

.modal .escritaCaio {
  width: 60%;
  height: 600px;
  position: fixed;
  top: 5%;
  left: 20%;
  background: #2f2e41;
  border-radius: 25px;
  text-align: center;
  color: #fff;
  font-family: "Roboto Mono", monospace;
  padding: 15px;
}

.modal .escritaCaio p {
  color: #2ee54c;
  font-size: 12px;
  font-weight: 300;
}

.modal .escritaCaio .sobre {
  color: #fff;
  font-size: 16px;
  width: 90%;
  margin: 0 auto;
}

.modal .escritaCaio span {
  cursor: pointer;
  position: absolute;
  top: 95%;
  text-align: center;
  width: 100%;
  left: 0;
  background: #2ee54c;
  padding: 15px;
  border-radius: 0 0 25px 25px;
  color: #000;
  transition: all 0.8s ease-in-out;
}

.modal .escritaParabens {
  width: 500px;
  height: 300px;
  position: absolute;
  top: 10vh;
  left: 30%;
  padding: 5px 0;
  background: #2f2e41;
  border-radius: 25px;
  text-align: center;
  color: #fff;
  font-family: "Roboto Mono", monospace;
}

.modal .escritaParabens h2 {
  color: #fff;
  font-size: 20px;
  font-weight: 500;
  text-align: center;
}

.modal .escritaParabens h3 {
  color: var(--green);
  font-size: 20px;
  font-weight: 700;
  margin: 25px auto;
  width: 400px;
  font-family: "Roboto", sans-serif;
}

.modal .escritaParabens p {
  color: var(--title);
  font-size: 14px;
  font-weight: 500;
  margin: 25px auto;
  width: 300px;
}

.modal .escritaParabens span {
  cursor: pointer;
  position: absolute;
  top: 95%;
  text-align: center;
  width: 500px;
  left: 0;
  background: #2ee54c;
  padding: 15px;
  border-radius: 0 0 25px 25px;
  color: #000;
  transition: all 0.8s ease-in-out;
}

.modal .inputInscrever {
  width: 500px;
  height: 450px;
  position: absolute;
  top: 10vh;
  left: 30%;
  padding: 50px 60px;
  background: #2f2e41;
  border-radius: 25px;
  color: #fff;
  font-family: "Roboto Mono", monospace;
}

.modal .inputInscrever legend {
  color: #fff;
  font-size: 24px;
  font-weight: 300;
  font-family: "Roboto", sans-serif;
  margin-top: 30px;
}

.modal .inputInscrever input {
  color: var(--background);
  font-size: 18px;
  padding: 15px;
  width: 400px;
  height: 50px;
  border: 2px solid #8844ee;
  border-radius: 8px;
  background: var(--title);
  color: #fff;
}

.modal .inputInscrever span {
  cursor: pointer;
  position: absolute;
  top: 95%;
  text-align: center;
  width: 500px;
  left: 0;
  background: #2ee54c;
  padding: 15px;
  border-radius: 0 0 25px 25px;
  color: #000;
  transition: all 0.8s ease-in-out;
}

.modal .inputInscrever button {
  cursor: pointer;
  margin: 60px 0;
  width: 300px;
  height: 50px;
  background: #8844ee;
  border: none;
  border-radius: 10px;
  color: #fff;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  transition: all 0.4s ease-in-out;
}

.modal .inputInscrever button:hover {
  background: var(--button-primary);
}

.modal .inputInscrever .confirm {
  width: 300px;
  margin: 0 auto 0 auto;
}

/*FIM DOS MODAL'S*/

.header-prog {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.header-prog .flat {
  width: 40%;
}

.subs {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
}
.subs a button {
  width: 385px;
  height: 80px;
  background: var(--button-primary);
  font-size: 30px;
  color: #e3e3e3;
  border: none;
  border-radius: 15px;
  transition: all 0.5s ease-in-out;
  cursor: pointer;
}
.subs a button:hover {
  filter: opacity(70%);
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

main table tr td {
  display: inline;
  color: #dededc;
  font-family: "Roboto", sans-serif;
  text-align: center;
}
main table tr td p {
  margin: 45px 0;
  color: var(--button-primary);
  font-size: 18px;
  font-weight: 700;
  text-align: center;
}
main .day {
  color: var(--green);
  font-family: "Roboto", sans-serif;
  margin: 45px 0;
  font-size: 24px;
}

main table {
  width: 400px;
}

main h1 {
  margin: 45px 0;
}
