@media screen and (min-width: 1400px) {
     .goToProg {
        width: 1410px;
        margin: 40px 50px;
    }
}
@media screen and (max-width: 1200px){
     .goToProg {
        width: 1200px;
        margin: 40px 50px;
    }
}

@media screen and (max-width: 1020px) {
    .header-container {
        width: 1120px;
    }

    .header-container .logo img {
        width: 250px;

    }

    .header-container .logo hr {
        width: 35%;
    }

    .palestrantes {
        display: flex;
        justify-content: space-around;
        margin: 0 55px;
        width: 100%;
    }

    .palestrantes img {
        cursor: pointer;
        margin: 20px 20px;


    }

    .palestrantes-nome {
        width: 100%;
        display: flex;
        justify-content: space-around;
        margin-left: 58px;
    }

    .goToProg {
        width: 1180px;
        margin: 40px 50px;
    }

    .sobre {
        margin: 20px 130px;
    }

    .sobre h1 {
        margin: 20px 0;
    }

    .sobre hr {
        margin: 0;
        width: 900px;
    }

    .sobre .horizontal {
        margin: 20px 0;
    }

    .sobre .evento .texto-evento h2 {
        font-size: 30px;
        width: 400px;
    }

    .sobre .texto-objetivo h2 {
        font-size: 30px;
        width: 400px;
    }

    .sobre .texto-conhecimento h2 {
        font-size: 30px;
        width: 400px;
    }

    .conteudo-header {
        width: 100%;
        margin: 0 0 0 100px;
    }
}

@media screen and (max-width: 920px) {
    .palestrantes {
        display: flex;
        justify-content: space-around;
        margin: 0 170px;
        max-width: 800px;
    }

    .palestrantes-nome {
        width: 1020px;

    }

    .sobre .horizontal {
        margin: 20px 0;
    }

    .sobre hr {
        width: 920px;
        margin: 0;
    }
     .goToProg {
        width: 1180px;
        margin: 40px 50px;
    }
}

/*960px 780px 550px 320px  */
@media screen and (max-width: 780px) {
    .palestrantes {
        display: flex;
        justify-content: space-around;
        margin: 0 170px;
        width: 900px;
    }

    .palestrantes-nome {
        width: 1040px;
        margin: 0 8%;

    }

    .palestrantes img{
        margin: 0 30px
    }
    
    .sobre .horizontal {
        margin: 20px 0;
    }

    .sobre hr {
        width: 920px;
        margin: 0;
    }

    .goToProg {
        width: 1030px;
        margin: 40px 50px;
    }

    .conteudo-header {
        width: 1020px;
        margin: 0 0 0 100px;
    }
     .goToProg {
        width: 1180px;
        margin: 40px 50px;
    }
}

@media screen and (max-width: 550px) {
    .palestrantes {
        display: flex;
        justify-content: space-around;
        margin: 0 140px;
        max-width: 1000px;
    }

    .palestrantes-nome {
        width: 1020px;
        margin: 0 17%;
    }
    .palestrantes-nome p{
        width: 170px;
        margin: 0 4px 0 0;
        font-size: 0.97em
    }
     .goToProg {
        width: 1180px;
        margin: 40px 50px;
    }
}

@media screen and (max-width: 360px) {
    .palestrantes {
        margin: 20px 400px 0 ;
        max-width: 1400px;
    }
        .palestrantes img{
        margin:0 35px
    }

    .palestrantes-nome {
        width: 1080px;
        margin: 0 10%;
        font-size: 14px

    }

    .footer {
        margin-top: 150px;
        margin-bottom:50px;
        width: 500px
    }

    
}

@media screen and (max-width: 320px) {
    .palestrantes {
        margin: 0 405px;
        max-width: 1400px;
    }

    .palestrantes-nome {
        width: 1050px;
        margin: 0 10%;

    }
     .goToProg {
        width: 1180px;
        margin: 40px 50px;
    }
}

@media screen and (max-width: 455px) {
    .palestrantes {
        margin: 15px auto 0;
    }

    .palestrantes-nome {
        width: 1050px;
        margin: 0 20%;

    }
    .palestra{
        margin: 0 100px;
        width: 980px;
        height: 150px;
        display: block;
    }

     .goToProg {
        width: 1180px;
        margin: 40px 50px;
    }
}
