@media screen and (min-width: 1400px) {
    .goToProg {
        width: 1410px;
        margin: 40px 50px;
    }
}

@media screen and (max-width: 1200px) {
    .goToProg {
        width: 1000px;
        margin: 0;
    }

    .container {
        margin-left: 100px;
    }

    .sobre .texto-objetivo h2 {
        font-size: 38px;
        width: 500px;
    }

    .sobre .texto-conhecimento h2 {
        font-size: 38px;
        width: 500px;
    }
    .palestrantes {
        display: flex;
        justify-content: space-around;
        margin: 45px 105px 0;
        width: 100%;
    }
    .palestrantes-nome {
        width: 100%;
        display: flex;
        justify-content: space-around;
        margin-left: 105px;
    }
    .sobre hr {
        margin: 0 auto;
        width: 1200px;
    }
    .conteudo-header {
        width: 1220px;
        margin: 0;
    }
}

@media screen and (max-width: 1020px) {
    .header-container {
        width: 1120px;
        margin: 0 80px;
    }

    .header-container .logo img {
        width: 250px;

    }

    .header-container .logo hr {
        width: 35%;
    }

    .palestrantes {
        display: flex;
        justify-content: space-around;
        margin: 0px;
        width: 1250px;
    }

    .palestrantes img {
        cursor: pointer;
        margin: 20px 20px;
    }

    .palestrantes-nome {
        width: 1250px;
        display: flex;
        justify-content: space-around;
        margin-left: 0;
    }

    .goToProg {
        width: 1345px;
        margin: 0;
    }

    .sobre {
        margin: 20px 130px;
    }

    .sobre h1 {
        margin: 20px 0;
    }

    .sobre hr {
        margin: 0;
        width: 1000px;
    }

    .sobre .horizontal {
        margin: 20px 0;
    }

    .sobre .evento .texto-evento h2 {
        font-size: 30px;
        width: 400px;
    }

    .sobre .texto-objetivo h2 {
        font-size: 30px;
        width: 400px;
    }

    .sobre .texto-conhecimento h2 {
        font-size: 30px;
        width: 400px;
    }

    .conteudo-header {
        width: 100%;
        margin: 0 0 0 100px;
    }
    .header-prog, .subs{
        width: 1220px;
    }
    .conteudo-header img {
        margin-left: 200px;
    }
    .conteudo-header button{
        margin-left: 200px
    }
    .sobre hr{
        margin: 80px auto;
    }
    
}

@media screen and (max-width: 920px) {
    .palestrantes {
        display: flex;
        justify-content: space-around;
        margin: 0;
        width: 1200px;
    }

    .palestrantes-nome {
        width: 1230px;

    }

    .sobre .horizontal {
        margin: 20px 0;
    }

    .sobre hr {
        width: 1020px;
        margin: 0;
    }

    .goToProg {
        width: 1280px;
        margin: 0;
    }
    .goToProg button{
        margin: 0px
    }
    .conteudo-header p{
        font-size: 22px;
    }
}

/*960px 780px 550px 320px  */
@media screen and (max-width: 780px) {
    .palestrantes {
        display: flex;
        justify-content: space-around;
        margin: 0 170px;
        width: 900px;
    }

    .palestrantes-nome {
        width: 1040px;
        margin: 0 8%;

    }

    .palestrantes img {
        margin: 0 30px
    }

    .sobre .horizontal {
        margin: 20px 0;
    }

    .sobre hr {
        width: 920px;
        margin: 0;
    }

    .goToProg {
        width: 1030px;
        margin: 40px 50px;
    }

    .conteudo-header {
        width: 1020px;
        margin: 0 0 0 100px;
    }

    .goToProg {
        width: 1180px;
        margin: 40px 50px;
    }
}
@media screen and (max-width:700px){
    main .day{
        margin: 20px 50px;
    }
    .palestrantes-nome{
        width: 1040px;
        margin: 15px 0px 0 100px
    }
    .sobre hr{
        width: 1000px
    }
}

@media screen and (max-width: 550px) {
    .palestrantes {
        display: flex;
        justify-content: space-around;
        margin: 35px 200px 10px;
        width: 1000px;
    }

    .palestrantes-nome {
        width: 1010px;
        margin: 0 200px;
    }

    .palestrantes-nome p {
        width: 170px;
        margin: 0 4px 0 0;
        font-size: 0.97em
    }

    .goToProg {
        width: 1180px;
        margin: 40px 50px;
    }

    .container {
        margin: 35px auto;

    }
    .sobre hr{
        width: 1050px;
    }
    .sobre h1{
        margin: 50px 0
    }
    .sobre .conhecimento  h2{
        font-size: 40px;
        width: 450px;
        margin-left: 200px
    }
    .sobre .objetivo  h2{
        font-size: 40px;
        width: 450px;
    }
    .sobre .evento .texto-evento h2{
        font-size: 40px;
        width: 450px;
    }
    .sobre .conhecimento  p{
        font-size: 24px;
        width: 450px;
        margin: 25px 0 0 200px
    }
    .sobre .objetivo p{
        font-size: 24px;
        width: 450px;
        margin: 25px 0 0 180px
    }
    .sobre .evento .texto-evento  p{
        font-size: 24px;
        width: 450px;
        margin: 25px 0
    }
}

@media screen and (max-width: 455px) {
    .palestrantes {
        margin: 15px 95px 0;
    }

    .palestrantes-nome {
        width: 1050px;
        margin: 0 39%;

    }

    .palestra {
        margin: 0 100px;
        width: 980px;
        height: 150px;
        display: block;
    }

    .goToProg {
        width: 1180px;
        margin: 40px 50px;
    }
}

@media screen and (max-width: 360px) {
    .palestrantes {
        margin: 20px 0;
        width: 1150px;
    }

    .palestrantes img {
        margin: 0 35px
    }
    .palestrantes-nome{
        margin-left: 105px;
        width: 1150px
    }
    .footer {
        margin-top: 150px;
        margin-bottom: 50px;
        width: 500px
    }
}

@media screen and (max-width: 320px) {

    .palestrantes {
        margin: 30px 0  0;
        max-width: 1050px;
    }

    .palestrantes-nome {
        width: 1050px;
        margin: 0 8 5px;

    }

   .container .goToProg {
        width: 1080px;
        margin: 40px 0px 35px 145px;
    }
        .sobre hr{
        width: 1050px;
    }
    .sobre h1{
        margin: 50px 0
    }
    .sobre .conhecimento  h2{
        font-size: 35px;
        width: 350px;
        margin-left: 200px
    }
    .sobre .objetivo  h2{
        font-size: 35px;
        width: 350px;
    }
    .sobre .evento .texto-evento h2{
        font-size: 35px;
        width: 350px;
    }
    .sobre .conhecimento  p{
        font-size: 24px;
        width: 350px;
        margin: 25px 0 0 200px
    }
    .sobre .objetivo p{
        font-size: 24px;
        width: 350px;
        margin: 25px 0 0 180px
    }
    .sobre .evento .texto-evento  p{
        font-size: 24px;
        width: 350px;
        margin: 25px 0
    }
        .conteudo-header img {
        margin-left: 150px;
    }
}



@media screen and (max-width: 280px) {
    .container {
        margin: 0;
        width: 240px;
    }
    .header-container{
        margin: 0
    }
    .conteudo-header{
    margin: 0;
    }
    .palestra {
        margin: 0 0 0 45px;
        width: 920px;
    }

    .palestrantes-nome {
        width: 1020px;
        margin: 5px 21%;
    }

    .container .goToProg {
        width: 800px;
        margin: 0;
    }
    .container .goToProg button {
        margin: 50px 0 0 450px;
    }
    .sobre hr{
        width: 900px;
    }

    .sobre .evento {
        width: 900px;
    }
    .sobre .evento img {
        width: 400px;
        height: 270px;
    }
    .sobre .evento h2  {
        width: 900px;
    }
    
    .sobre .conhecimento {
        width: 900px;
    }
    .sobre .conhecimento img {
         width: 400px;
        height: 270px;
    }

    .sobre .objetivo {
        width: 900px;
    }
    .sobre .objetivo img{
         width: 400px;
        height: 250px;
    }
    .sobre .conhecimento p,
    .sobre .conhecimento h2{
        margin: 20px 170px
    }
    .header-prog, .subs{
        width: 1020px;
    }
    .header-prog .flat{
        height: 300px;
    }
}
